@tailwind base;
@tailwind components;
@tailwind utilities;



/*
these above importing tailwind into index.css(and no need to write css here)
*/




/* .header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.nav-items {
  padding: 20px 30px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding-right: 150px;
  font-size: 20px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.rest-container {
  display: flex;
  flex-wrap: wrap;
}

.rest-card {
  width: 184px;
  padding: 10px;
  background-color: rgb(209, 204, 204);
  margin: 5px;
}

.rest-card:hover {
  border: 0.5px solid rgb(69, 62, 62);
  cursor: pointer;
}

.search {
  padding: 10px;
}

.rest-logo {
  width: 180px;
  height: 150px;
}

.filter-btn {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 184px;
  height: 300px;
  border: 1px solid gray;
  background-color: #f0f0f0;
  margin: 5px;
}

.login {
  padding: 0px 20px;
  cursor: pointer;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
} */


